
<!-- old header -->
<!-- <header class="lookup-header dp-flex">
  <div class="logo-path" d-align-center>
    <img class="logo" alt="Logo" src="assets/Logo.png" />
  </div>
  <div class="wd-100 dp-flex header-content">
    <h3>Lookup App</h3>

    <button *ngIf="showLogin" class="logout-btn" mat-button (click)="logout()">
      Log out
    </button>
  </div>
</header> -->


<!-- new header -->
<div class="header">
  <div class="logo-header">
    <img src="../../assets/Logo.png" alt="Logo" class="logoimg" />
  </div>
  <div class="content-header1">
    <div class="text-content">
      <!-- <p class="headline1">Internal Migration Equipment</p>
      <p class="headline2">Configuration Portal</p> -->
      <h3 class="headline3">Lookup App</h3>
    </div>
    <button *ngIf="showLogin" class="logout-btn" mat-button (click)="logout()">
      Log out
    </button>
  </div>

  <div class="innerlayer"></div>
  <div class="innercurv"></div>
</div>
