@import "../../../../assets/scss/variables";

.header {
  background: #ffffff;
  height: 150px;
}

.logo-header {
  justify-content: center;
}

.logoimg {
  width: 400px;
}

.content-header {
  border-top-left-radius: 50px;
}

.content-header1 {
  display: flex;
  border-top-left-radius: 50px;
  justify-content: space-between;
}

.text-content {
  padding: 20px 0px 20px 15px;
}

.headline {
  padding: 40px;
  line-height: 30px;
}

.headline3 {
  font-size: 30px;
  margin-bottom: 0px;
  line-height: normal;
  font-weight: 500;
}

.headinner {
  line-height: 35px;
  font-weight: 400;
  top: 65px;
  z-index: 1;
  margin-left: 40px;
}

.innerlayer {
  top: 142px;
  background: #faa819;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 8px;
}

.innercurv {
  top: 150px;
  border-bottom-right-radius: 20px;
  height: 15px;
}

.logout-btn {
  background: transparent;
  border: none;
  margin-left: auto;
  margin-right: 2em;
  color: nth($white-shade, 1);
  cursor: pointer;
  padding: 0px;
}
.logout-btn:hover{text-decoration: underline;}

.headline3,
.logout-btn {
  font-family: "Gilroy-SemiBold";
}

.header-buttons,
.content-header,
.logo-header,
.header {
  display: flex;
}

.innercurv,
.content-header,
.content-header1 {
  background: #ff5900;
}

.headline3 {
  color: #ffffff
}

.headinner,
.headline1,
.headline,
.headline2 {
  font-size: 20px;
  color: #ffffff;
}

.innerlayer,
.header {
  width: 100%;
}

.innercurv,
.content-header,
.content-header1,
.logo-header {
  width: 50%;
}

.header,
.headinner {
  margin: 0 auto;
}

.content-header1,
.text-content,
.logo-header {
  align-items: center;
}

.headline,
.headline1 {
  font-family: "Gilroy-Bold";
}

.headinner,
.headline {
  text-align: left;
}

.headline2,
.headinner {
  font-family: "Gilroy-Regular";
}

.headline,
.headinner {
  vertical-align: top;
}

.logo-header,
.headinner {
  text-align: center;
}

.headinner,
.innerlayer,
.innercurv {
  position: absolute;
}

@media (max-width: 990px) {
  .headinner {
    left: 0;
  }

  .header {
    height: 80px;
  }

  .innercurv {
    top: 88px !important;
  }

  .innerlayer {
    top: 80px !important;
  }

  .headline {
    padding: 24px;
    font-size: 12px;
    line-height: 12px;
  }

  .headinner {
    left: 175px;
    font-size: 12px;
    top: 40px;
  }

  .logoimg {
    width: 38vw;
  }

  .headline1 {
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 0px;
  }

  .headline2 {
    font-size: 12px;
    margin-bottom: 0px;
  }
}

@media (max-width: 600px) {
  .headline3 {
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  .logout-btn {
    margin-right: 0px;
  }
}

@media (max-width: 410px) {
  .logout-btn {
    font-size: 13px;
  }

  .innercurv,
  .logo-header {
    width: 38%;
  }

  .content-header1 {
    width: 62%;
  }

  .logoimg {
    width: 35vw;
  }
}

@media (max-width: 320px) {
  .logout-btn {
    margin-left: -10px;
  }
}