<div class="container" >
    <div class="heading-container">
        <h1 class="heading">Subscriber List</h1>
        <div class="alerts">
    <!-- <p class="alert-text">Migration Status:</p> 
    (nonMigratableBy.includes('Device'))?
(nonMigratableBy.includes('Device'))?
(nonMigratableBy.includes('Sim'))? 'n
"(nonMigratableBy.includes('Rate'))? -->
    <div>
      <p class="label">Device Configuration</p>
    <button class="alert-button" [ngClass]="(!nonMigratableBy.includes('Device'))?'mg':'nmg'">
      {{(!nonMigratableBy.includes('Device'))?'Ready':'Action Required'}}
    </button>
  </div>
  <div>
    <p class="label">Equipment</p>
    <button class="alert-button" [ngClass]="!nonMigratableBy.includes('Device')?'mg':'nmg'"> 
      {{!nonMigratableBy.includes('Device')?'Ready':'Action Required'}}</button>
    </div>
    <div>
      <p class="label">SIM</p>
      <button class="alert-button" [ngClass]="(!nonMigratableBy.includes('Sim'))?'mg':'nmg'">
      {{(!nonMigratableBy.includes('Sim'))?'Ready':'Action Required'}}
    </button>
  </div>
  <div>
    <p class="label">Rate Plan</p>
    <button class="alert-button1" [ngClass]="(!nonMigratableBy.includes('Rate'))?'mg':'nmg'">
      {{(!nonMigratableBy.includes('Rate'))?'Ready':'Action Required'}}
    </button>
    </div>
</div>
    </div>
    <h1 class="count">Total Lines : {{length}}</h1>
    <div>
        <div class="mat-elevation-z8 overflow" *ngIf="(isLoaded && dataSource.data && dataSource.data.length>0)">
            <table mat-table [dataSource]="dataSource" >
          
              <!-- Billing_Account_Name Column -->
              <ng-container matColumnDef="Billing_Account_Name">
                <th mat-header-cell *matHeaderCellDef class="header-bg"> Billing Account Info </th>
                <td mat-cell *matCellDef="let element" class="row-bg"> {{element.Billing_Account_Name}} </td>
              </ng-container>
          
              <!-- phone_number Column -->
              <ng-container matColumnDef="phone_number">
                <th mat-header-cell *matHeaderCellDef  class="header-bg"> CTN </th>
                <td mat-cell *matCellDef="let element" class="row-bg"> {{element.phone_number}} </td>
              </ng-container>
          
              <!-- Effective_Date Column -->
              <ng-container matColumnDef="Effective_Date">
                <th mat-header-cell *matHeaderCellDef  class="header-bg"> Effective Date </th>
                <td mat-cell *matCellDef="let element" class="row-bg"> {{element.Effective_Date}} </td>
              </ng-container>
          
              <!-- status Column -->
              <ng-container matColumnDef="Action_Needed">
                <th mat-header-cell *matHeaderCellDef  class="header-bg"> Migration Status </th>
                <td  mat-cell *matCellDef="let element"  class="row-bg" ><div *ngIf="element.Action_Needed=='Complete Migratable' then thenBlock else elseBlock"></div></td>
                <ng-template #thenBlock>Ready</ng-template>
                <ng-template #elseBlock>Action Required</ng-template>
              </ng-container>

              <!-- device Column -->
              <ng-container matColumnDef="device">
                <th mat-header-cell *matHeaderCellDef  class="header-bg"> Device </th>
                <td mat-cell *matCellDef="let element" class="row-bg"> {{element.dvc_make +' '+element.dvc_model}} </td>
              </ng-container>

               <!-- button Column -->
               <ng-container  matColumnDef="button">
                <th mat-header-cell *matHeaderCellDef  class="header-bg">  </th>
                <td mat-cell *matCellDef="let element" class="row-bg"><button class="button-bg" (click) = "nextscreen(element)">More Details</button> </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                           showFirstLastButtons 
                           aria-label="Select page of periodic elements">
            </mat-paginator> -->
          </div>
          <ng-container  *ngIf="(isLoaded && dataSource.data && dataSource.data.length===0)">
            No Data Available for searched number
          </ng-container>
          <!-- isLoaded:{{isLoaded}} -->
          <ng-container  *ngIf="!isLoaded">
            Loading Data...
          </ng-container>
    </div>
    <div class="delay-warn">
      <p class="delay-content">This data may have a two week delay, please validate current customer information in Opus before making an offer.</p>
    </div>
  
   
</div>


