<div class="container">
  <div class="heading-container">
    <h2 class="heading">Subscriber List</h2>


  <div class="alerts" *ngIf="isLoaded && dataSource.data && dataSource.data.length > 0">
    <div class="sub-alert">
      
      <div class="alert1">
        <p class="label">Equipment</p>
        <button
          class="alert-button"
          [ngClass]="migratableBy.includes('Device') ? 'nmg' : 'mg'"
        >
          {{
            migratableBy.includes("Device") ? "Upgrade Required" : "Ready"
          }}
        </button>
      </div>

      <div class="alert1">
        <p class="label">Device Configuration</p>
        <button
          class="alert-button"
          [ngClass]="migratableBy.includes('Device_Config') ? 'nmg' : 'mg'"
        >
          {{
            migratableBy.includes("Device_Config") ? "Action Required" : "Ready"
          }}
        </button>
      </div>
    </div>

   
    
    <div class="sub-alert">
      <div class="alert1">
        <p class="label">SIM</p>
        <button
          class="alert-button"
          [ngClass]="migratableBy.includes('Sim') ? 'nmg' : 'mg'"
        >
          {{migratableBy.includes("Sim") ? "Action Required" : "Ready" }}
        </button>
      </div>
      <div class="alert1">
        <p class="label">Rate Plan</p>
        <button
          class="alert-button1"
          [ngClass]="migratableBy.includes('Rate') ? 'nmg' : 'mg'"
        >
          {{ migratableBy.includes("Rate") ? "Action Required" : "Ready" }}
        </button>
      </div>
    </div>
    
    
  </div>
  </div>





  <h1 class="count">Total Lines : {{ length }}</h1>
  <div>
    <div
      class="mat-elevation-z8 overflow"
      *ngIf="isLoaded && dataSource.data && dataSource.data.length > 0"
    >
      <table mat-table [dataSource]="dataSource">
        <!-- Billing_Account_Name Column -->
        <ng-container matColumnDef="Billing_Account_Name">
          <th mat-header-cell *matHeaderCellDef class="header-bg">
            Billing Account Info
          </th>
          <td mat-cell *matCellDef="let element" class="row-bg">
            {{ element.Billing_Account_Name }}
          </td>
        </ng-container>

        <!-- phone_number Column -->
        <ng-container matColumnDef="phone_number">
          <th mat-header-cell *matHeaderCellDef class="header-bg">CTN</th>
          <td mat-cell *matCellDef="let element" class="row-bg">
            {{ element.phone_number }}
          </td>
        </ng-container>

        <!-- Effective_Date Column -->
        <ng-container matColumnDef="Effective_Date">
          <th mat-header-cell *matHeaderCellDef class="header-bg">
            Effective Date
          </th>
          <td mat-cell *matCellDef="let element" class="row-bg">
            {{ element.Effective_Date }}
          </td>
        </ng-container>

        <!-- status Column -->
        <ng-container matColumnDef="Action_Needed">
          <th mat-header-cell *matHeaderCellDef class="header-bg">
            Migration Status
          </th>
          <td mat-cell *matCellDef="let element" class="row-bg">
            <div
              *ngIf="
                element.Action_Needed == 'Complete Migratable';
                then thenBlock;
                else elseBlock
              "
            ></div>

          
          </td>
          <ng-template #thenBlock><button class="alert-button status-margin mg">Ready</button></ng-template>
          <ng-template #elseBlock><button class="alert-button status-margin nmg">Action Required</button></ng-template>
        </ng-container>

        <!-- device Column -->
        <ng-container matColumnDef="device">
          <th mat-header-cell *matHeaderCellDef class="header-bg">Device</th>
          <td mat-cell *matCellDef="let element" class="row-bg">
            {{ element.dvc_make + " " + element.dvc_model }}
          </td>
        </ng-container>

        <!-- button Column -->
        <ng-container matColumnDef="button">
          <th mat-header-cell *matHeaderCellDef class="header-bg"></th>
          <td mat-cell *matCellDef="let element" class="row-bg">
            <button class="common-btn" (click)="nextscreen(element)" mat-button>
              More Details
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                           showFirstLastButtons 
                           aria-label="Select page of periodic elements">
            </mat-paginator> -->
    </div>
    <ng-container
      *ngIf="isLoaded && dataSource.data && dataSource.data.length === 0"
    >
    <h2 class="no-data">No Data Available for searched number</h2>
      
    </ng-container>
    <!-- isLoaded:{{isLoaded}} -->
    <ng-container  *ngIf="!isLoaded"> <h3 class="heading">Loading Data...</h3> </ng-container>
  </div>
  <div class="delay-warn">
    <p class="delay-content">
      This data may have a two week delay, please validate current customer
      information in Opus before making an offer.
    </p>
  </div>
</div>
