
@import './_variables.scss';
/*  */
.wd-100 {
    width: 100%;
}

.dp-flex{
    display: flex;
 }
 .pad-0{
     padding: 0px;
 }
 .pad-b-10{
padding-bottom: 10px;
 }
 .text-center{
     text-align: center;
 }
 [d-align-center]{
     align-items: center;
     justify-content: center;
     display: flex;
 }

// This style should be used for button design throughout app
// .common-btn{
//     width: 40%;
//     padding: 3px 0px;
//     background-color: nth($blue-shade, 2 );
//     border-radius: 15px;
//     color: nth($white-shade, 1 ) !important;
//     font-weight: bold;
//     border:2px solid nth($white-shade, 1 ) !important;
// }

// This style should be used for Input design throughout app
.large-input{
    background-color: nth($white-shade, 2 );
    width: 300px;
    height: 25px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 2em;
    border-style: hidden;
    font-family: 'GilRoy-SemiBold';
    @media (max-width: 576px){
        width: 230px;
     }
}

// This style should be used for aligning a div or form etc vertical and horizontal center throughout app
.content-align-middle{
    min-height:calc(100vh - 150px);
    align-items: center;
    justify-content: center;
    position: relative;
}
.mg{
    // background-color: #00E676;
    background-color: #69E382;
    color: #fff;
}

.mgar{
    // background-color: #00E676;
    background-color: #ffee00;
    color: #fff;
}
.nmg{
    background-color: #F50057;
    color: #fff;
}
.common-btn{
    // width: 40%;
    width: 115px !important;
    // padding: 3px 0px;
    padding: 2px;
    background-color: #00D1FF;
    border-radius: 20px;
    color: #ffffff;
    font-weight: bold;
    border: 2.5px solid #FFFFFF;
    font-family: 'Gilroy-Bold';
  }

  .common-btn:hover{
    background: #ffffff;
      border: 2.5px solid #00D1FF !important;
      color: #0098FF !important;
  }
  
  .common-btn:active{
    color: #ffffff !important;
    background-color: #0055FF;
    border-width: 0;
  }

  mat-icon:hover{
    // background: #ffffff;
    //   border: 2.5px solid #00D1FF !important;
      color: #0098FF !important;
  }
  
  mat-icon:active{
    color: #ffffff !important;
    // background-color: #0055FF;
    // border-width: 0;
  }