<div class="bg-container">
  <div class="heading-container" *ngIf="billingInfo">
    <h2 class="main-heading">Billing Account Information</h2>
    <app-overall-alerts></app-overall-alerts>
  </div>
  <div class="bottom-container" *ngIf="billingInfo">
    <div class="left-container">
      <div class="card-head">
        <h1 class="card-heading">Demographics</h1>
      </div>
      <div class="card-container">
        <div class="card1">
          <h2 class="heading">Billing Account Name</h2>
          <p class="detail">{{ billingInfo?.blng_full_nm || "NA"}}</p>
          <h2 class="heading">Billing Account Number</h2>
          <p class="detail">{{ billingInfo?.acct_nbr || "NA" }}</p>
          <h2 class="heading">Billing Address 1</h2>
          <p class="detail">{{ billingInfo?.blng_loc_addr_ln_1_txt || "NA" }}</p>
          <h2 class="heading">Billing Address 2</h2>
          <p class="detail">{{ billingInfo?.blng_loc_addr_ln_2_txt || "NA" }}</p>
        </div>
        <div class="card1">
          <h2 class="heading">City</h2>
          <p class="detail">{{ billingInfo?.blng_loc_addr_cty_nm || "NA" }}</p>
          <h2 class="heading">State</h2>
          <p class="detail">{{ billingInfo?.blng_loc_addr_stprov_cd || "NA"}}</p>
          <h2 class="heading">Zip Code</h2>
          <p class="detail">{{ billingInfo?.blng_loc_addr_postl_cd || "NA"}}</p>
          <h2 class="heading">Account Email</h2>
          <p class="detail">{{ billingInfo?.acct_email_addr || "NA" }}</p>
          <h2 class="heading">Account Contact Number</h2>
          <p class="detail">{{ billingInfo?.curr_srv_accs_nbr }}</p>
        </div>
      </div>
    </div>
    <div class="left-container">
      <div class="card-head">
        <h1 class="card-heading">Account Info</h1>
      </div>
      <div class="card-container">
        <div class="card1">
          <h2 class="heading">Action Needed</h2>
          <p class="detail">{{ billingInfo?.Action_Needed || "NA" }}</p>
          <h2 class="heading">Liability Type</h2>
          <p class="detail">{{ billingInfo?.lblty_type || "NA" }}</p>
          <h2 class="heading">Account Type</h2>
          <p class="detail">{{ billingInfo?.acct_type_cd || "NA" }}</p>
          <h2 class="heading">Billing Cycle</h2>
          <p class="detail">{{ billingInfo?.bl_cyc_cd || "NA" }}</p>
          <h2 class="heading">Preferred Language</h2>
          <p class="detail">{{ billingInfo?.lang_desc || "NA" }}</p>
          <h2 class="heading">Lines Count</h2>
          <p class="detail">{{ length }}</p>
        </div>
        <div class="card1">
          <h2 class="heading">Billing Close Date</h2>
          <p class="detail">{{ billingInfo?.bl_cyc_clos_day }}</p>
          <h2 class="heading">Account Start Date</h2>
          <p class="detail">{{ billingInfo?.subsrptn_contrct_eff_dt || "NA" }}</p>
          <h2 class="heading">FAN ID</h2>
          <p class="detail">{{ billingInfo?.fan_id || "NA" }}</p>
          <h2 class="heading">FAN Name</h2>
          <p class="detail">{{ billingInfo?.fan_nm || "NA" }}</p>
          <h2 class="heading">Service ID</h2>
          <p class="detail">{{ billingInfo?.acct_type_titl || "NA" }}</p>
          <h2 class="heading">Service Name</h2>
          <p class="detail">{{ billingInfo?.svid_nm || "NA" }}</p>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />

  <div *ngIf="!billingInfo">
    <h2 class="no-data">No Data Available for searched number</h2>
  </div>
  <div class="delay-warn">
    <p class="delay-content">
      This data may have a two week delay, please validate current customer
      information in Opus before making an offer.
    </p>
  </div>
</div>