<div style="display: flex;">
    <mat-card style="flex: 1 1 auto;">
     <h2>     Billing_Account_Name: {{billingInfo?.Billing_Account_Name}}</h2>
     <h2>     curr_srv_accs_nbr: {{billingInfo?.curr_srv_accs_nbr}}</h2>
     <h2>     Libility_Type: {{billingInfo?.Libility_Type}}</h2>
     <h2>     Billing_Address_1: {{billingInfo?.Billing_Address_1}}</h2>
     <h2>     Billing_Address_2: {{billingInfo?.Billing_Address_2}}</h2>
     <h2>     City: {{billingInfo?.City}}</h2>
     <h2>     Effective_Date: {{billingInfo?.Effective_Date}}</h2>
     <h2>     Service_ID: {{billingInfo?.Service_ID}}</h2>
     <h2>     Account_Type: {{billingInfo?.Account_Type}}</h2>
     <h2>     Account_Email: {{billingInfo?.Account_Email}}</h2>
     <h2>     Account_start_date: {{billingInfo?.Account_start_date}}</h2>
     <h2>     Billing_Cycle: {{billingInfo?.Billing_Cycle}}</h2>
     <h2>     Billing_Close_Date: {{billingInfo?.Billing_Close_Date}}</h2>
    </mat-card>
    
</div>

<div class="bg-container">
    <h1>Billing Account Information</h1>

    <div>
        <div>
            <div>
                <h1>Demographics</h1>
            </div>
            <div>
                
            </div>
        </div>
    </div>
</div>