.bottom-container{
display: flex;
justify-content: space-between;
@media (max-width: 576px){
    flex-direction: column;
    align-items: center;
    
 }
}
.left-container{
    width: 48%;
    @media (max-width: 576px){
        width: 280px;
     }
}
.heading-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    @media (max-width: 576px){
        flex-direction: column;
     }
}
.alerts{
    display: flex;
    align-items: center;
}
.alert-text{
    color: #fff;
    margin-right: 5px;
}
.alert-button{
    border-radius: 12px;
    width:50px;
    height: 20px;
    border-style: hidden;
    font-size: 15pz;
    margin-right: 5px;
    cursor: pointer;
}
.bg-container{
    padding: 20px 20px 50px 20px;
}
.card-head{
    background-color: #4473c5;
    padding: 7px 0 7px 25px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
    @media (max-width: 576px){
        padding: 7px 0 7px 15px;
     }
}
.card-heading{
    color: #fff;
    font-size: 20px;
    margin-bottom: 0px !important;
    @media (max-width: 576px){
        font-size: 18px;
        
     }
}
.card-container{
    display: flex;
    background-color: #fff;
    padding: 5px 50px 5px 25px;
    height: 500px;
    justify-content: space-between;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    @media (max-width: 600px){
        display: block;
        padding: 5px 20px 15px 15px;
        height: auto;
        margin-bottom: 25px;
     }
     @media (min-width: 600px) and (max-width: 800px){
        height: 480px;
     }
}
.heading{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
    @media (max-width: 576px){
        font-size: 16px;
     }
}
.detail{
    font-size: 15px;
}
.card1{
    margin-right: 45px;
}
.main-heading{
    color: #fff;
    font-size: 22px;
    margin-bottom: 10px;
    @media (max-width: 576px){
        font-size: 18px;
        
     }
}