@import "../../../assets/scss/variables";

.bottom-container,
.heading-container,
.card-container,
.rec-tables {
  justify-content: space-between;
}

.left-container,
table {
  width: 48%;
}

.label,
b,
.no-data,
.table-head,
h3,
.head-font,
.delay-content {
  font-family: 'Gilroy-SemiBold';
}

.heading-container,
.delay-warn {
  align-items: center;
}

.alerts,
.bottom-container,
.heading-container,
.card-container,
.sub-alert,
.rec-tables {
  display: flex;
}

.alert-text,
.card-heading,
.main-heading,
.table-head,
h3,
.no-data,
.label,
.delay-content {
  color: #fff;
}

.alert-text {
  margin-right: 5px;
}

.bg-container {
  padding: 20px 20px 50px 20px;
}

.card-head {
  background-color: #4473c5;
  padding: 7px 0 7px 25px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-heading,
.no-data {
  font-size: 20px;
}

.card-container {
  padding: 5px 50px 5px 25px;
  height: 350px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.heading {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.detail,
.delay-content {
  font-size: 15px;
}

.card1 {
  margin-right: 45px;
}

.main-heading {
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
  line-height: normal;
  font-family: 'Gilroy-Bold';
}

table,
th,
td {
  border: 1px solid #169fd5;
  padding: 8px;
  border-collapse: collapse;
}

.sub-sub-item {
  font-style: italic;
}

.table-head {
  background-color: #003bdc;
}

.table-items {
  background-color: #fff;
}

table {
  overflow-wrap: anywhere;
  margin-bottom: 25px;
}

h3 {
  font-size: 18px;
}

td {
  font-family: "Gilroy-Regular";
}

td.border {
  border-top-left-radius: 10px;
}

td.border1 {
  border-top-right-radius: 10px;
}

td.border2 {
  border-bottom-left-radius: 10px;
}

td.border3 {
  border-bottom-right-radius: 10px;
}

ul,
li {
  list-style-type: square;
  padding-left: 20px;
}

li {
  padding-left: 2em;
  text-indent: -2em;
}

.rec-tables {
  width: 100%;
  flex-wrap: wrap;
}

.alternate tr:nth-child(even) {
  background-color: #e3f2fd;
}

.delay-warn {
  background-color: nth($orange-shades, 2);
  width: 90%;
  border-radius: 8px;
  padding: 10px;
  margin-top: 50px;
  margin: auto;
}

.delay-content {
  margin: 0px;
}

.label {
  margin-bottom: 0px !important;
}

.no-data,
.delay-content,
.label {
  text-align: center;
}

.align-right {
  text-align: right;
}

@media (max-width: 576px) {
  .label {
    font-size: 13px;
  }

  .heading-container {
    display: block;
    margin-bottom: 10px;
  }

  .main-heading {
    font-size: 18px;
  }

  .bg-container {
    padding: 10px;
  }

  .alerts {
    justify-content: center;
    margin-top: 12px;
    margin-left: 5px;
  }
}

@media (max-width: 700px) {
  .no-data {
    font-size: 17px;
  }

  .sub-alert {
    flex-direction: column;
    justify-content: center;
    margin-right: 0px;
  }
}

@media (max-width: 900px) {
  .rec-tables {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  table {
    width: 95%;
  }
}