@import "../../../assets/scss/variables";

.bottom-container {
  display: flex;
  justify-content: space-between;
}
.left-container {
  width: 48%;
}
.heading-container {
  display: flex;
  justify-content: space-between;
  // margin-bottom: 20px;
  align-items: center;
  @media (max-width: 576px) {
    display: block;
    margin-bottom: 10px;
  }
}
.alerts {
  display: flex;
  @media (max-width: 576px) {
    justify-content: center;
    margin-top: 12px;
    margin-left: 5px;
  }
}

.alert-button {
  border-radius: 12px;
  width: 160px;
  border-style: hidden;
  margin-right: 5px;
  padding: 14px;
  cursor: pointer;
  @media (max-width: 576px) {
    font-size: 12px;
    padding: 12px;
    margin-bottom: 10px;
    width: 125px;
  }
  @media (min-width: 577px) and (max-width: 900px) {
    padding: 12px;
    width: 135px;
    margin-bottom: 10px;
  }
}
.alert-button1 {
  border-radius: 12px;
  width: 160px;
  border-style: hidden;
  cursor: pointer;
  padding: 14px;
  @media (max-width: 576px) {
    font-size: 12px;
    padding: 12px;
    margin-bottom: 10px;
    width: 125px;
  }
  @media (min-width: 577px) and (max-width: 900px) {
    padding: 12px;
    width: 135px;
    margin-bottom: 10px;
  }
}

.alert-text {
  color: #fff;
  margin-right: 5px;
}
// .alert-button {
//   border-radius: 12px;
//   width: 50px;
//   height: 20px;
//   border-style: hidden;
//   font-size: 15pz;
//   margin-right: 5px;
//   cursor: pointer;
// }
.bg-container {
  padding: 20px 20px 50px 20px;
  @media (max-width: 576px) {
    padding: 10px;
  }
}
.card-head {
  background-color: #4473c5;
  padding: 7px 0 7px 25px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.card-heading {
  color: #fff;
  font-size: 20px;
}
.card-container {
  display: flex;
  // background-color: #fff;
  padding: 5px 50px 5px 25px;
  height: 350px;
  justify-content: space-between;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.heading {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.detail {
  font-size: 15px;
}
.card1 {
  margin-right: 45px;
}
.main-heading {
  color: #fff;
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
  line-height: normal;
  @media (max-width: 576px) {
    font-size: 18px;
  }
}
table,
th,
td {
  border: 1px solid #169fd5;
  padding: 8px;
  border-collapse: collapse;
  // background-color: #fff;
}
.sub-sub-item {
  // text-align: right;
  font-style: italic;
}
.table-head {
  // background-color: #4473c5 !important;
  background-color: #003bdc;
  color: #fff;
  // border-top-left-radius: 8px;
}
.table-items {
  background-color: #fff;
}
h3 {
  color: #fff;
}
// .odd{
//     background-color: #7e9fd7;
// }
// tr:hover {background-color: #6b90d1;}
// table{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

table {
  overflow-wrap: anywhere;
  width: 48%;
  margin-bottom: 25px;
  // border-radius: 1em !important;
  @media (max-width: 900px) {
    width: 95%;
  }
}
// table, th{
//     border-top-left-radius: 10px;
// }
h3 {
  font-size: 18px;
}

td {
  font-family: "Roboto";
}
td.border {
  border-top-left-radius: 10px;
}
td.border1 {
  border-top-right-radius: 10px;
}
td.border2 {
  border-bottom-left-radius: 10px;
}
td.border3 {
  border-bottom-right-radius: 10px;
}
ul,
li {
  list-style-type: square;
  padding-left: 20px;
}

li {
  padding-left: 2em;
  text-indent: -2em;
}

.rec-tables {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: 900px) {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
// .table-head{
//     border-top-left-radius: 12px;
// }
.alternate tr:nth-child(even) {
  background-color: #e3f2fd;
}

.delay-warn {
  background-color: nth($orange-shades, 2);
  width: 90%;
  border-radius: 8px;
  padding: 10px;
  margin-top: 50px;
  align-items: center;
  margin: auto;
}
.delay-content {
  margin: 0px;
  color: #fff;
  text-align: center;
  font-size: 15px;
}
.sub-alert {
  display: flex;
  @media (max-width: 700px) {
    flex-direction: column;
    justify-content: center;
    margin-right: 0px;
  }
}
.label{
    text-align: center;
    color: #fff;
    margin-bottom: 0px !important;
}
.no-data{
  color: #fff;
  text-align: center;
  font-size: 20px;
  @media (max-width: 700px){
      font-size: 17px;
   }
}