



<div class="bg-container">
    <div class="heading-container">
        <h2 class="main-heading">Recommended Portal for Agents</h2>

        <h3>Account #: 159407799</h3>
        <h3>Customer Name: John</h3>

    </div>
        <table>
            <thead class="table-head">
                <td>

                </td>
                <td>
                    Current Plan Details
                </td>
                <td>
                    Recommended Plan Details
                </td>
            </thead>
            <tbody class="table-items">
                <tr>
                    <td>
                        Rate Plan
                    </td>
                    <td>
                        AT & T Unlimited & more (SM) multiline
                    </td>
                    <td>
                        Unlimited Your way (UNLELITE/UNLELITE/UNLEXTRA/UNLSTARTER)
                    </td>
                </tr>
                <tr class="odd">
                    <td>
                        Rate Plan Rate
                    </td>
                    <td>
                        $75
                    </td>
                    <td>
                        $215
                    </td>
                </tr>
                <tr>
                    <td>
                        LINES
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>
                <tr class="odd">
                    <td class="sub-sub-item">
                        Handsets
                    </td>
                    <td>
                        4
                    </td>
                    <td>
                        4
                    </td>
                </tr>
                <tr>
                    <td class="sub-sub-item">
                        Tablets
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                       1
                    </td>
                </tr>
                <tr class="odd">
                    <td class="sub-sub-item">
                        Wearables
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        1
                    </td>
                </tr>
                <tr>
                    <td class="sub-sub-item">
                        WHP
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>
                <tr class="odd">
                    <td class="sub-sub-item">
                        MiFi
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td class="sub-sub-item">
                        Connected Car
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>
                <tr class="odd">
                    <td>
                        MRC
                    </td>
                    <td>
                        $245
                    </td>
                    <td>
                        $245
                    </td>
                </tr>
                <tr>
                    <td>
                        Discounts
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>
                <tr class="odd">
                    <td class="sub-sub-item">
                        Auto Bill Pay
                    </td>
                    <td>
                        -$20
                    </td>
                    <td>
                        -$40
                    </td>
                </tr>
                <tr>
                    <td class="sub-sub-item">
                        FAN Discount
                    </td>
                    <td>
                        NO
                    </td>
                    <td>
                        -$20
                    </td>
                </tr>
                <tr class="odd">
                    <td class="sub-sub-item">
                        Appreciation
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        MRC after Discount is Applied
                    </td>
                    <td>
                        $225
                    </td>
                    <td>
                        $185
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
