@import "../../assets/scss/variables";

.tab-container {
  height: 50px;
  background-color: nth($orange-shades, 1);
  @media (max-width: 576px){
  display: none;

 }
  .inr-tab {
    height: inherit;
    padding: 0px 10px;
    background-color: transparent;
    border: 0;
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    @media (max-width: 576px){
      padding-left: 13px;
    padding-right: 13px;
    display: none;

   }
    &.active {
      background-color: nth($orange-shades, 2);
      position: relative;
    }
    &.active:after {
      // z-index: 99999;
      // position: absolute;
      // width: 0;
      // height: 0;
      // left: -50px;
      // border-left: 50px solid transparent;
      // border-right: 50px solid transparent;
      // border-bottom: 61px solid rgb(244, 109, 6);
      // top: -1px;
      content: "";
      border-style: solid;
      border-width: 10px 10px 10px 10px;
      transform: rotate(-90deg);
      border-color: transparent nth($orange-shades, 2) transparent transparent;
      position: absolute;
      bottom: -20px;
      right: calc(50% - 10px);
    }
  }
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  pointer-events: none;
}
.centre{
  align-self: center;
  margin-left: 20px;
  @media (max-width: 576px){
    margin-left: 0px;

 }
  
}
.width{
  width: auto;
  margin-top: -5px;
  @media (max-width: 576px){
    margin-top: 0px;

 }
}
.dashboard-bg{
  padding-top: 20px;
}
.error-msg{
  display: block;
  margin-top: 10px;
  color: #fff;
}
.acc-num{
  color: #fff;
  margin-bottom: 0px;
}
.mobile-search{
  @media (max-width: 576px){
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
 }
  
}
.tab-item{
  display: none;
  @media (max-width: 576px){
    display: block;
 }
}
.top{
  text-align: start;
}
.menu{
  width: 100% !important;
  background-color: nth($orange-shades, 1);
  color: #fff;
  :hover { background-color:  nth($orange-shades, 2) !important };
  &.active {
    background-color: nth($orange-shades, 2);
  }
}

.menu-text{
  float: left;
  margin-left: 15px;
  color: #fff;
    font-weight: 400;
}
.menu-bar{
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color:nth($orange-shades, 1);
  height: 48px;
  // margin-bottom: 8px;
  
}
.mobile-menu{
  display: none;
  @media (max-width: 576px){
    display: block;
 }
}
.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  /* width: 180px; */
}
// .large-input{
//   margin-bottom: 0px !important;
// }

.mat-elevation-z4 {
   box-shadow: 0px 0px 0px 0px !important;
  // box-shadow: none !important;
}

.mat-menu-panel {
  min-width: 0px !important;
  max-width: 280px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh - 48px);
  border-radius: 4px;
  outline: 0;
  min-height: 0px !important;
  position: relative;
}
.mat-elevation-z4 {
  box-shadow: none !important;
}
.aaa{
  margin: auto;
  width: 420px;
  @media (max-width: 576px){
    width: 0px;
 }
}
.warn-msg{
  width: 320px;
  text-align: center;
  margin-top: -2em;
  margin-bottom: 25px;
  color: #fff;
  @media (max-width: 576px){
    width: 100%;
 }
}
.desktop-warn{
  display: block;
  @media (max-width: 576px){
    display: none;
 }
}
.mobile-warn{
  display: none;
  @media (max-width: 576px){
    display: block;
 }
}