@import "../../assets/scss/variables";
@import "../../assets/scss/common";

.tab-container {
  height: 50px;
  background-color: nth($orange-shades, 1);
 .inr-tab {
    height: inherit;
    padding: 0px 10px;
    background-color: transparent;
    border: 0;
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
    &.active {
      background-color: nth($orange-shades, 2);
      position: relative;
    }
    &.active:after {
      content: "";
      border-style: solid;
      border-width: 10px 10px 10px 10px;
      transform: rotate(-90deg);
      border-color: transparent nth($orange-shades, 2) transparent transparent;
      position: absolute;
      bottom: -20px;
      right: calc(50% - 10px);
    }
  }
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  pointer-events: none;
}
.centre{
  align-self: center;
  margin-left: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.dashboard-bg{
  padding-top: 40px;
}
.error-msg{
  margin-top: 10px;
}
.acc-num{
margin-bottom: 0px;
  color: #ffffff;
  font-size: 18px;
}
.top{
  text-align: start;
}
.menu{
  width: 100% !important;
  background-color: nth($orange-shades, 1);
  :hover { background-color:  nth($orange-shades, 2) !important };
  &.active {
    background-color: nth($orange-shades, 2);
  }
}
.menu-text{
  float: left;
  margin-left: 15px;
}
.menu-bar{
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color:nth($orange-shades, 1);
  height: 48px;
}
.mat-form-field-infix {
  flex: auto;
  min-width: 0;
}

.mat-elevation-z4 {
   box-shadow: 0px 0px 0px 0px !important;
}

.mat-menu-panel {
  min-width: 0px !important;
  max-width: 280px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh - 48px);
  border-radius: 4px;
  outline: 0;
  min-height: 0px !important;
}
.mat-elevation-z4 {
  box-shadow: none !important;
}
.aaa{
  margin: auto;
  width: 450px;
}
.warn-msg{
  width: 320px;
  text-align: center;
  margin-top: -2em;
  margin-bottom: 25px;
}
.mat-icon {
  float: none;
  margin-right: 0px;
}
.back-btn{  
margin-left: 10px;
}
.width,.back-btn{
  width: auto;
  margin-top: -5px;
}
.error-msg,.mat-form-field-infix,.desktop-warn{
  display: block;
}
.error-msg,.menu,.menu-text,.warn-msg,.mat-icon{
  color: #fff;
}
.acc-num,.warn-msg{
  font-family: 'Gilroy-Regular';
}
.mobile-warn,.tab-item,.mobile-menu{
  display: none;
}
.menu-text,b{
  font-weight: 400;
}
.menu,.menu-text,.inr-tab{font-family: 'Gilroy-SemiBold';}
.mat-form-field-infix,.mat-menu-panel {
  position: relative;
}
@media (max-width: 576px){
  .inr-tab{padding-left: 13px;padding-right: 13px;display: none;}
  .back-btn{margin-top: 7px;margin-left: 0px;}
  .mobile-warn,.mobile-menu,.tab-item{display: block;}
  .desktop-warn,.tab-container{ display: none;}
  .warn-msg{width: 100%;}
  .aaa{ width: 0;}
  .width{ margin-top: 0px;}
  .mobile-search{ display: flex;flex-direction: column;margin-bottom: 20px;}
  .acc-num{font-size: 15px;}
  .centre{ margin-left: 0px;}
}