
.loading-spinner{    
    position: absolute;
    width: 100%;
    
    top: 0px;
    left: 0px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex
}

.loading-spinner img{
    align-self: center;
    height: 8rem;
    width: 8rem;
}

