<div class="content-align-middle dp-flex">
  <form [formGroup]="formGroup" (ngSubmit)="formGroup.valid && search()">
    <div class="text-center search-text">
      <h2 class="pad-b-10">{{ email }}</h2>
      <h3 class="pad-b-10">Welcome</h3>
      <p class="pad-b-10"><b>Enter Account / Mobile Number</b></p>
    </div>
    <br />

    <div class="text-center"
        *ngIf="formGroup.controls['search'].invalid && (formGroup.controls['search'].dirty || formGroup.controls['search'].touched)">
       
          Must be of 15-17 digit
        
    </div>
    <div>
        <h2 class="pad-b-10">{{failureSearchMessage}}</h2>
    </div>
    <br />
    <div>
      <mat-form-field class="large-input pad-0" appearance="fill">
        <input
          matInput
          type="number"
          placeholder="Phone/Account number"
          formControlName="search"
         
        />
        
      </mat-form-field>
    </div>

    <div class="example-button-row text-center">
      <button
      type="submit"
        class="common-btn"
        mat-button
        color="primary"
        [disabled]="formGroup.invalid"
      >
        Search
      </button>
    </div>
  </form>
</div>
