@import "../../assets/scss/variables";
.search-text {
  color: nth($white-shade, 1);
  h2 {
    color: nth($white-shade, 2);
  }
  h3 {
    padding-bottom: 5px;
    border-bottom: 2px solid nth($white-shade, 1);
    display: inline-block;
    margin-bottom: 10px;
  }
  p {
    text-transform: uppercase;
    font-size: 16px;
  }
}

.searchWarning {
  font-family: "Gilroy-Bold";
  font-weight: 200;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  pointer-events: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


.button{
    background: #00D1FF;
      border: 2.5px solid #FFFFFF;
      bottom: 22.38%;
      font-family: 'Gilroy-SemiBold';
      font-size: 15px;
      line-height: 28px;
      text-align: center;
      color: #FFFFFF;
      border-radius: 15px;
      width: 50%;
      padding: 5px;
      margin-right: 8px;
  }
 
  .button:hover{
    background: #ffffff;
      border: 2.5px solid #00D1FF;
      color: #0098FF;
      
  }
  .welcome-msg{
    font-size: 22px;
    font-weight: normal;
    @media (max-width: 576px){
      font-size: 18px;
   }
  }
  .welcome-email{
    font-size: 22px;
    font-weight: bold;
    @media (max-width: 576px){
      font-size: 18px;
      margin-bottom: 0px;
   }
  }
  
  .button:active{
    color: #ffffff;
    background-color: #0055FF;
    border-width: 0;
  }
  .acc-num{
    // text-align: center;
    // align-self: flex-start;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 3px;
    // margin-left: -17%;
    @media (max-width: 576px){
      font-size: 15px;
   }
  }
  .error-msg{
    color: #ffffff;
    margin-top: 15px;
    // margin-bottom: -10px;
  }
  .notfound-err{
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
  }
  .search-num{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .accnum-input{
    margin-bottom: 0px !important;
  }
  .but-center{
    margin-top: 25px;
  }