@import "../../assets/scss/variables";
@import "../../assets/scss/common";

.search-text {
  color: nth($white-shade, 1);

  h2 {
    color: nth($white-shade, 2);
  }

  h3 {
    padding-bottom: 5px;
    border-bottom: 2px solid nth($white-shade, 1);
    display: inline-block;
    margin-bottom: 10px;
  }

  p {
    text-transform: uppercase;
    font-size: 16px;
  }
}

.searchWarning {
  font-weight: 200;
  justify-content: center;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  pointer-events: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.button.button {
  background: #00D1FF;
  border: 2.5px solid #FFFFFF;
  bottom: 22.38%;
  line-height: 28px;
  border-radius: 15px;
  width: 50%;
  margin-right: 8px;
}

.button:hover {
  background: #ffffff;
  border: 2.5px solid #00D1FF;
  color: #0098FF;
}

.welcome-msg {
  font-size: 22px;
  font-weight: normal;
}

.welcome-email {
  font-size: 23px;
  font-weight: bold;
}

.button:active {
  background-color: #0055FF;
  border-width: 0;
}

.acc-num {
  font-size: 18px;
  margin-bottom: 3px;
}

.error-msg {
  margin-top: 8px;
}

.notfound-err {
  margin-top: 20px;
  line-height: normal;
  font-size: 20px;
}

.notfound-err1 {
  line-height: normal;
}

.search-num {
  flex-direction: column;
}

.accnum-input {
  margin-bottom: 0px !important;
}

.but-center {
  margin-top: 5px;
}

.pad {
  padding: 10px;
}

.acc-or-mob-input {
  font-style: italic;
}

.notfound-err1,
.notfound-err {
  text-align: center;
}

.searchWarning,
.welcome-email {
  font-family: 'Gilroy-Bold';
}

.searchWarning,
.button {
  font-size: 15px;
  text-align: center;
}

.search-num,
.searchWarning {
  display: flex;
  align-items: center;
}

.acc-or-mob-input,
.notfound-err1,
.notfound-err,
.error-msg,
.acc-num,
.button:active,
.button,
.searchWarning {
  color: #ffffff;
}

.welcome-msg,
.button.button {
  font-family: 'Gilroy-SemiBold';
}

.acc-or-mob-input,
.button.button {
  padding: 5px;
}

.acc-num,
.error-msg,
.notfound-err,
.notfound-err1 {
  font-family: 'Gilroy-Regular';
}

@media (max-width: 576px) {
  .notfound-err1 {
    font-size: 17px;
  }

  .acc-num {
    font-size: 15px;
  }

  .welcome-msg,
  .welcome-email {
    font-size: 18px;
  }

  .welcome-email {
    margin-bottom: 0px;
  }
}