<div class="bg-container">
  <button (click)="goBack()" class="common-btn btn-center" mat-button>
    <mat-icon>chevron_left</mat-icon>
    Back
  </button>
  <br />
  <div class="heading-container">
    <h1 class="card-heading1">Line Details</h1>
  </div>
  <div class="card-head">
    <h2 class="card-heading">
      {{ deviceDetails?.Billing_Account_Name || "NA" }}
    </h2>
  </div>
  <div class="card-container">
    <div class="card1">
      <h2 class="heading">CTN</h2>
      <p class="detail">{{ deviceDetails?.curr_srv_accs_nbr || "NA" }}</p>
      <h2 class="heading">Effective Date</h2>
      <p class="detail">{{ deviceDetails?.Effective_Date || "NA" }}</p>

      <h2 class="heading">Sim</h2>
      <p class="detail">NA</p>
      <h2 class="heading">Sim Generation</h2>
      <p class="detail">{{ deviceDetails?.sim_generation || "NA" }}</p>
      <h2 class="heading">Rate Plan Code</h2>
      <p class="detail">{{ deviceDetails?.Rate_Plan_name || "NA" }}</p>
      <h2 class="heading">Rate Plan Description</h2>
      <p class="detail">{{ deviceDetails?.rate_plan_description || "NA" }}</p>
    </div>
    <div class="card2">
      <h2 class="heading">Subscriber Email</h2>
      <p class="detail">{{ deviceDetails?.acct_email_addr || "NA" }}</p>
      <h2 class="heading">IMEI</h2>
      <p class="detail">{{ deviceDetails?.dvc_nbr || "NA" }}</p>
      <h2 class="heading">Make</h2>
      <p class="detail">{{ deviceDetails?.dvc_make || "NA" }}</p>
      <h2 class="heading">Model</h2>
      <p class="detail">{{ deviceDetails?.dvc_model || "NA" }}</p>
      <h2 class="heading">Category</h2>
      <p class="detail">{{ deviceDetails?.dvc_category || "NA" }}</p>
      <h2 class="heading">Software</h2>
      <p class="detail">NA</p>
    </div>
    <div>
      <h2 class="heading">Migration Status</h2>
      <div class="alerts">
        <div class="alert1">
          <p class="label">Equipment</p>
          <button class="alert-button" [ngClass]="
              DevicebuttonClass
            ">
            {{
            DevicebuttonMessage
            }}
          </button>
        </div>

        <div class="alert1">
          <p class="label">Device Configuration</p>
          <button class="alert-button" [ngClass]="
            DeviceConfigbuttonClass">
            {{
            DeviceConfigbuttonMessage
            }}
          </button>
        </div>
        <div class="alert1">
          <p class="label">SIM</p>
          <button class="alert-button" [ngClass]="
            SimGenbuttonClass
            ">
            {{
            SimGenbuttonMessage
            }}
          </button>
        </div>
        <div class="alert1">
          <p class="label">Rate Plan</p>
          <button class="alert-button1" [ngClass]="
            RatePlanbuttonClass 
            ">
            {{
            RatePlanbuttonMessage
            }}
          </button>
        </div>
      </div>
      <ng-template #thenBlock>Complete Migratable</ng-template>
      <ng-template #elseBlock>Non-Migratable</ng-template>
    </div>
  </div>
  <div class="delay-warn">
    <p class="delay-content">
      This data may have a two week delay, please validate current customer
      information in Opus before making an offer.
    </p>
  </div>
</div>