@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/common";

.bg-container {
    padding: 40px;
}

.card-head {
    background-color: #003bdc;
    padding: 7px 0 7px 25px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-heading {
    font-size: 20px;
    margin-bottom: 0px;
}

.card-container {
    background-color: #fff;
    padding: 0px 100px 25px 25px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 50px;
}

.card-heading1 {
    font-size: 25px;
    margin-top: 15px;
}

.heading {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.detail {
    font-family: 'Gilroy-Regular';
    word-break: break-all;
}

.back-but {
    color: nth($orange-shades, 1);
    padding: 7px;
    cursor: pointer;
    border-radius: 5px;
    border-style: none;
}

.alerts {
    flex-direction: column;
}

.alert-text {
    margin-right: 5px;
}

.heading-container,
.delay-warn {
    align-items: center;
}

.label {
    text-align: center;
    margin-bottom: 2px !important;
}

.alert1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.delay-warn {
    background-color: nth($orange-shades, 2);
    width: 90%;
    border-radius: 8px;
    padding: 10px;
    margin-top: 50px;
    margin: auto;
}

.delay-content {
    margin: 0px;
    text-align: center;
}

.delay-content,
.alert-text,
.detail {
    font-size: 15px;
}

.card-heading1,
.heading,
.label,
.delay-content {
    font-family: 'Gilroy-SemiBold';
}

.mat-icon {
    float: none;
    margin-right: 0px;
}

.btn-center {
    padding-right: 10px;
}

.mat-icon,
.delay-content,
.alert-text,
.card-heading1,
.card-heading {
    color: #fff;
}

.card-container,
.alerts,
.heading-container {
    display: flex;
}

.card1,
.card2,
.middle-content {
    margin-right: 20px;
}

.card-container,
.heading-container {
    justify-content: space-between;

}

@media (max-width: 576px) {
    .card1 {
        width: 30%;

    }

    .heading {
        font-size: 16px;
    }

    .bg-container {
        padding: 30px 10px 20px 10px;
    }

    .card-head {
        padding: 7px 0 7px 15px;
    }

    .card-heading,
    .card-heading1 {
        font-size: 18px;
    }

    .card-container {
        flex-direction: column;
        padding: 15px;
    }

    .heading-container {
        display: block;
        margin-bottom: 10px;
    }

    .alerts {
        justify-content: flex-end;
        width: 125px;

    }

    .back-but {
        padding: 5px;
        font-size: 14px;

    }

}

@media (min-width: 577px) and (max-width: 800px) {
    .card-container {
        padding: 25px 50px 25px 25px;

    }
}