<!-- deviceDetails:{{ deviceDetails | json }}

<span>{{ deviceDetails?.Billing_Account_Name }}</span> -->

<!-- deviceDetails:{ "Billing_Account_Name": "JOHN MARRERO", "dvc_make": "Samsung",
"dvc_model": "SM-A125U", "dvc_nbr": "3550691768", "curr_srv_accs_nbr":
"7876441638", "Libility_Type": "PREPAY", "Effective_Date": "2020-02-09",
"Service_ID": "Liberty ATT Prepaid", "Account_Type": "I", "Account_Email": "",
"Account_start_date": "", "Rate_Plan_name": "GP77" } JOHN MARRERO -->

<div class="bg-container">
  <button (click)="goBack()" class="back-but">< Back</button>
  <br />
  <div class="heading-container">
    <h1 class="card-heading1">Line Details</h1>
  <!-- <div class="alerts">
    <div>
      <p class="label">Device Configuration</p>
    <button class="alert-button" [ngClass]="(deviceDetails?.Migratable_By_Device==='Migratable')?'mg':'nmg'">
      {{(deviceDetails?.Migratable_By_Device==='Migratable')?'Ready':'Needs Unlock'}}
    </button>
  </div>
  <div>
    <p class="label">Equipment</p>
    <button class="alert-button" [ngClass]="(deviceDetails?.Migratable_By_Device==='Migratable')?'mg':'nmg'"> 
      {{(deviceDetails?.Migratable_By_Device==='Migratable')?'Ready':'Action Required'}}</button>
    </div>
    <div>
      <p class="label">SIM</p>
      <button class="alert-button" [ngClass]="(deviceDetails?.SIM_Gen_Status==='Migratable')?'mg':'nmg'">
      {{(deviceDetails?.SIM_Gen_Status==='Migratable')?'Ready':'Action Required'}}
    </button>
  </div>
  <div>
    <p class="label">Rate Plan</p>
    <button class="alert-button1" [ngClass]="(deviceDetails?.Migratable_by_rate_plan==='Migratable')?'mg':'nmg'">
      {{(deviceDetails?.Migratable_by_rate_plan==='Migratable')?'Ready':'Action Required'}}
    </button>
    </div>
</div> -->
  </div>

  
  <div class="card-head">
    <h2 class="card-heading">
      {{ deviceDetails?.Billing_Account_Name || "NA" }}
    </h2>
  </div>

  <div class="card-container">
    <div class="card1">
      <h2 class="heading">CTN</h2>
      <p class="detail">{{ deviceDetails?.curr_srv_accs_nbr || "NA" }}</p>
      <h2 class="heading">Effective Date</h2>
      <p class="detail">{{ deviceDetails?.Effective_Date || "NA" }}</p>

      <h2 class="heading">Sim</h2>
      <p class="detail">NA</p>
      <h2 class="heading">Sim Generation</h2>
      <p class="detail">{{ deviceDetails?.sim_generation  || "NA"}}</p>
      <h2 class="heading">Rate Plan Code</h2>
      <p class="detail">{{ deviceDetails?.Rate_Plan_name  || "NA" }}</p>
      <h2 class="heading">Rate Plan Description</h2>
      <p class="detail">{{deviceDetails?.rate_plan_description || "NA"}}</p>

     
    </div>
    <div class="card2">
      
      <h2 class="heading">Subscriber Email</h2>
      <p class="detail">{{ deviceDetails?.acct_email_addr || "NA" }}</p>
      <h2 class="heading">IMEI</h2>
      <p class="detail">{{ deviceDetails?.dvc_nbr }}</p>
      <h2 class="heading">Make</h2>
      <p class="detail">{{ deviceDetails?.dvc_make }}</p>
      <h2 class="heading">Model</h2>
      <p class="detail">{{ deviceDetails?.dvc_model }}</p>
      <h2 class="heading">Category</h2>
      <p class="detail">{{ deviceDetails?.dvc_category || "NA" }}</p>
      <h2 class="heading">Software</h2>
      <p class="detail">NA</p>
    </div>
    <div>
      <h2 class="heading">Migration Status</h2>
      <div class="alerts">
        <!-- <p class="alert-text">Migration Status:</p> -->
        <div class="alert1">
          <p class="label">Device Configuration</p>
        <button class="alert-button" [ngClass]="(deviceDetails?.Migratable_By_Device==='Migratable')?'mg':'nmg'">
          {{(deviceDetails?.Migratable_By_Device==='Migratable')?'Ready':'Action Required'}}
        </button>
      </div>
      <div class="alert1">
        <p class="label">Equipment</p>
        <button class="alert-button" [ngClass]="(deviceDetails?.Migratable_By_Device==='Migratable')?'mg':'nmg'"> 
          {{(deviceDetails?.Migratable_By_Device==='Migratable')?'Ready':'Upgrade Required'}}</button>
        </div>
        <div class="alert1">
          <p class="label">SIM</p>
          <button class="alert-button" [ngClass]="(deviceDetails?.SIM_Gen_Status==='Migratable')?'mg':'nmg'">
          {{(deviceDetails?.SIM_Gen_Status==='Migratable')?'Ready':'Action Required'}}
        </button>
      </div>
      <div class="alert1">
        <p class="label">Rate Plan</p>
        <button class="alert-button1" [ngClass]="(deviceDetails?.Migratable_by_rate_plan==='Migratable')?'mg':'nmg'">
          {{(deviceDetails?.Migratable_by_rate_plan==='Migratable')?'Ready':'Action Required'}}
        </button>
        </div>
    </div>
      <!-- <h2 class="heading">Migration Status</h2>
      <p
        class="detail"
        *ngIf="
          (deviceDetails?.Migratable_By_Device == 'Migratable' &&
            deviceDetails?.Migratable_by_rate_plan== 'Migratable' &&
            deviceDetails?.SIM_Gen_Status == 'Migratable') ;
          then thenBlock;
          else elseBlock
        "
      ></p> -->
      <!-- <h2 class="heading">Migration Status By Device</h2>
      <p class="detail">{{ deviceDetails?.Migratable_By_Device || "NA" }}</p>
      <h2 class="heading">Migration Status By Sim</h2>
      <p class="detail">{{ deviceDetails?.SIM_Gen_Status || "NA" }}</p>
      <h2 class="heading">Migration Status By Rate Plan</h2>
      <p class="detail">{{ deviceDetails?.Migratable_by_rate_plan || "NA" }}</p> -->

      <ng-template #thenBlock>Complete Migratable</ng-template>
      <ng-template #elseBlock>Non-Migratable</ng-template>
      
     
    </div>
  </div>

  <div class="delay-warn">
    <p class="delay-content">This data may have a two week delay, please validate current customer information in Opus before making an offer.</p>
  </div>
</div>
